<%- model_class = Url -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.upcase.pluralize%></h1>
</div>

<table id="urls-table" class="table admin-table table-striped table-bordered data-table" data-source="<%= datatable_admin_urls_path(format: :json) %>">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th><%= t('helpers.table_headers.owner')  %></th>
      <th><%= t('helpers.table_headers.url') %></th>
      <th><%= t('helpers.table_headers.keyword') %></th>
      <th><%= t('helpers.table_headers.total_clicks') %></th>
      <th><%= t('helpers.table_headers.created_on') %></th>
      <th><%=t '.actions', :default => t('helpers.actions') %></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>


<%= content_tag :div, class: "route-info", data: {new_transfer_request_path: new_admin_transfer_request_path} do %>
<% end %>


<%= render 'urls/modal' %>
