<%- model_class = Url -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table admin-table table-striped table-bordered data-table">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:owner) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:keyword) %></th>
      <th><%= model_class.human_attribute_name(:total_clicks) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% if @urls.blank? %>
    <% else %>
      <% @urls.each do |url| %>
        <%= render '/urls/in_row_show', url: url %>
      <% end %>
    <% end %>

  </tbody>
</table>

<script type="text/javascript">
  <%= render 'datatable.js' %>
</script>

<%= render 'modal' %>