<%- model_class = Audit -%>
<div class="page-header">
  <h1><%= t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table id="audits-table" class="table admin-table table-striped table-bordered data-table" data-source="<%= datatable_admin_audits_path(format: :json) %>">
  <thead>
  <tr>
    <th><%= t('helpers.table_headers.audit_item') %></th>
    <th><%= t('helpers.table_headers.audit_event') %></th>
    <th><%= t('helpers.table_headers.audit_whodunnit') %></th>
    <th><%= t('helpers.table_headers.audit_whodunnit_when') %></th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>