<%- model_class = Audit -%>
<div class="page-header tw-space-y-4">
  <p class="tw-uppercase tw-text-center">Admin</p>
  <h1>Audit Log</h1>
</div>
<div class="tw-p-4">
  <div class="umn-post-it">
    <div class="groups-table-wrapper">
      <table id="audits-table" class="table admin-table table-striped table-bordered data-table" data-source="<%= datatable_admin_audits_path(format: :json) %>">
        <thead>
          <tr>
            <th><%= t('views.audits.index.table.item') %></th>
            <th><%= t('views.audits.index.table.event') %></th>
            <th><%= t('views.audits.index.table.whodunnit') %></th>
            <th><%= t('views.audits.index.table.what') %></th>
            <th><%= t('views.audits.index.table.when') %></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
