<div class="page-header">
  <h1><%= t('views.audits.index.title') %></h1>
</div>

<table id="audits-table" class="table admin-table table-striped table-bordered data-table" data-source="<%= datatable_admin_audits_path(format: :json) %>">
  <thead>
  <tr>
    <th><%= t('views.audits.index.table.item') %></th>
    <th><%= t('views.audits.index.table.event') %></th>
    <th><%= t('views.audits.index.table.whodunnit') %></th>
    <th><%= t('views.audits.index.table.when') %></th>
  </tr>
  </thead>
  <tbody>

  </tbody>
</table>
