<tr id='user-<%= member.id %>'>
  <td><%= member.user_full_name %></td>
  <td><%= member.uid %></td>
  <% if member.email %>
      <td><%= member.email %></td>
  <% else %>
      <td><i>No Email </i></td>
  <% end %>
  <td><%= member.created_at %></td>
  <td>
    <%= link_to t('.destroy', default: t('helpers.links.destroy')),
                admin_member_path(member),
                :method => :delete,
                :data => {confirm: t('.confirm-delete', default: t('helpers.links.confirm_delete', to_delete: member.user_full_name, default: t('helpers.links.confirm_default')))},
                class: 'btn btn-xs btn-danger delete-admin-member', remote: true %>

  </td>
</tr>
