<tr id='user-<%= member.id %>'>
  <td><%= member.user_full_name %></td>
  <td><%= member.uid %></td>
  <% if member.email %>
      <td><%= member.email %></td>
  <% else %>
      <td><i>No Email </i></td>
  <% end %>
  <td><%= member.created_at.to_s(:created_on_formatted)  %></td>
  <td>
    <%= link_to t('.destroy', default: t('views.admin.members.index.table.destroy')),
                admin_member_path(member),
                :method => :delete,
                :data => {confirm: t('views.admin.members.index.table.destroy_confirm_html', name: member.user_full_name)},
                class: 'btn btn-xs btn-danger delete-admin-member fa fa-trash-o', remote: true %>

  </td>
</tr>
