<script type="text/javascript">

    $(function () {
        var peopleSearch = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "<%= request.base_url %>/shortener/admin/members/new/%QUERY",
                wildcard: '%QUERY'
            }
        });

        $('#people_search').typeahead({minLength: 2}, {
            name: 'people_search',
            highlight: true,
            limit: 1000,
            display: 'value',
            source: peopleSearch,
            templates: {
              empty: [
                '<div class="empty-message">',
                  'Unable to find any people that match your search.</p>',
                '</div>'
              ].join('\n'),

              suggestion: function(data){
                return '<div><p class="autocompleter-name"><strong>' + data.displayname + '</strong></p><p>'+ data.uid +'</p></div>'
              }
            }
        })
        .on('typeahead:asyncrequest', function() {
          $('.glyphicon-refresh').removeClass("hidden");
        })
        .on('typeahead:asynccancel typeahead:asyncreceive', function() {
          $('.glyphicon-refresh').addClass("hidden");
        });

        $('#people_search').bind('typeahead:selected', function (obj, datum, name) {
            $("#uid").val(datum.umndid);
        });

    });
</script>

<div id="new-admin-form">
  <%= render 'form' %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('views.admin.members.index.table.name')%></th>
    <th><%= t('views.admin.members.index.table.id')%></th>
    <th><%= t('views.admin.members.index.table.email') %></th>
    <th><%= t('views.admin.members.index.table.created_on') %> </th>
    <th><%= t '.actions', :default => t('helpers.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @admins.each do |member| %>
      <%= render 'in_row_show', member: member %>
  <% end %>
  </tbody>
</table>