<tr id='url-<%= url.id %>'>
	<td><%= url.url %></td>
	<td><%= url.keyword %></td>
	<td><%= url.total_clicks %></td>
	<td><%=l url.created_at %></td>
	<td>
		<%= link_to t('.edit', default: t("helpers.links.edit")),
								edit_url_path(url),
								class: 'btn btn-xs btn-default edit-url', remote: true %>
		<%= link_to t('.destroy', default: t("helpers.links.destroy")),
								url_path(url),
								:method => :delete,
								:data => { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
								class: 'btn btn-xs btn-danger delete-url', remote: true %>
	</td>
</tr>
