<tr id='url-<%= url.id %>'>
  <td>

  </td>
  <% if @admin_view %>
    <td><%= url.group.name %></td>
  <% end %>
	<td class="long-url">
    <%= link_to display_url(url), url.url, target: '_blank' %>
  </td>
	<td data-search="<%= url.keyword %>">
    <%= link_to full_url(url), full_url(url), target: '_blank' %>
    <button class='btn btn-default clipboard-btn' data-clipboard-text="<%= full_url(url) %>">
      <i class=" fa fa-files-o"></i>
    </button>
  </td>
	<td>
    <%= url.total_clicks %>
  </td>
	<td data-order="<%= url.created_at %>">
    <%= url.created_at.to_s(:created_on_formatted)  %>
  </td>
  <td>

  </td>
</tr>
