<% is_edit = (defined?(edit) && edit == true) ? true : false %>

<div class="z-hero-content">

  <h3 class="z-hero-title">
    <%= is_edit ? 'Edit your shortlink' : t('helpers.header_tags.urls_new') %>
  </h3>

  <%= form_for_url_admin @admin_view, url do |f| %>

    <div class="super-input">
      <%= f.text_field :url, class: 'js-new-url-url', placeholder: t('helpers.urls.url_placeholder') %>

      <div class="divider">
      </div>

      <div class="keyword-wrapper">
        <div class="keyword-static-text">
          z.umn.edu /
        </div>
        <%= f.text_field :keyword, class: 'js-new-url-keyword', placeholder: t('helpers.urls.keyword_placeholder')  %>
      </div>

      <button type="submit" class="js-url-submit">
        <%= is_edit ? "Submit" : "Z-Link It" %>
       </button>
    </div>

    <% if is_edit %>
      <a href="#" class='btn btn-default cancel-edit-url'><%= t('helpers.buttons.cancel')%></a>
    <% end %>

    <div id="url-blurb-container">
    </div>

  <% end %>
  <%= render 'urls/in_row_errors', url: url %>
</div>
