<% is_edit = (defined?(edit) && edit == true) ? true : false %>
<div class="z-hero-content tw-relative tw-z-10 tw-text-white tw-max-w-screen-lg tw-mx-auto" data-cy="inline-edit-form">
  <div class="tw-max-w-[90rem] tw-mx-auto">
    <h3 class="tw-text-2xl tw-mb-4 <%= is_edit && 'tw-text-neutral-900' %>">
      <%= is_edit ? t('views.urls.sleek_form.edit.title') : t('views.urls.sleek_form.new.title') %>
    </h3>
    <%= form_for_url_admin @admin_view, url do |f| %>
      <div class="super-input tw-grid md:tw-grid-cols-2 tw-grid-cols-1 tw-bg-white tw-rounded-md tw-text-umn-neutral-700">
        <div class="focus-within:tw-ring-offset-2 focus-within:tw-ring tw-border-b md:tw-border-b-0 md:tw-border-r">
          <%= f.text_field :url, class: 'js-new-url-url tw-w-full tw-h-full tw-border-none tw-bg-transparent tw-text-umn-neutral-900 tw-p-4', placeholder: t('views.urls.sleek_form.placeholders.url'), 'aria-label': 'source URL' %>
        </div>
        <div class="super-input-right tw-flex tw-flex-col md:!tw-flex-row">
          <!-- z-link group -->
          <div class="tw-flex tw-items-center tw-pl-4 tw-flex-1 focus-within:tw-ring focus-within:tw-ring-offset-2 focus-within:tw-border focus-within:tw-border-blue-700">
            <div class="keyword-static-text tw-font-semibold tw-text-umn-neutral-700">
              <%= t('views.urls.sleek_form.domain') %>
            </div>
            <div class="keyword-input tw-flex-1">
              <%= f.text_field :keyword, class: 'js-new-url-keyword tw-border-none without-focus-ring tw-w-full tw-bg-transparent tw-text-umn-neutral-900 tw-h-full tw-py-4 tw-pl-1', placeholder: t('views.urls.sleek_form.placeholders.keyword'), 'aria-label': 'keyword' %>
            </div>
          </div>
          <%= f.hidden_field :group_id, value: @group.id %>
          <button type="submit" class="js-url-submit tw-block !tw-bg-umn-gold tw-py-4 tw-px-8 tw-rounded-b-md md:tw-rounded-r-md md:tw-rounded-bl-none hover:!tw-bg-umn-gold-light active:!tw-bg-umn-neutral-900 active:!tw-text-white focus:tw-ring focus:tw-ring-offset-2 tw-transition-colors">
            <%= is_edit ? t('views.urls.sleek_form.edit.submit') : t('views.urls.sleek_form.new.submit')  %>
          </button>
        </div>
      </div>
      <% if is_edit %>
        <a href="#" class='btn btn-default cancel-edit'><%= t('views.urls.sleek_form.edit.cancel')%></a>
      <% end %>
      <div id="url-blurb-container">
      </div>
    <% end %>
    <%= render 'urls/in_row_errors', url: url %>
  </div>
</div>
