<% if @pending_transfer_requests_from.present? %>
    <div class="bs-callout bs-callout-warning" id="callout-badges-ie8-empty">
      <h4><%= t('views.urls.index.transfer_requests.to_others')%> </h4>
      <p>
        <% @pending_transfer_requests_from.each do |transfer_request| %>
          <div class="transfer-request-item">
            <div class="transfer-details">
              <div class="to">
                <%= t('views.urls.index.transfer_requests.to_html', user: transfer_request.to_user.internet_id) %>
              </div>
              <% transfer_request.urls.each do |url| %>
                <div class="keyword">
                  <%= t('views.urls.index.transfer_requests.keyword_html', keyword: url.keyword) %>
                </div>
                <div class="url">
                  <%= t('views.urls.index.transfer_requests.url_html', url: link_to(url.url, url.url, target: 'blank')) %>
                </div>
              <% end %>
            </div>
            <a href="<%= transfer_request_path(transfer_request) %>" data-method="delete" data-confirm="<%= t('views.urls.index.transfer_requests.take_back_confirm') %>" class='btn btn-default btn-xs'><%= t('views.urls.index.transfer_requests.take_back') %></a>
          </div>
        <% end %>
      </p>
    </div>
<% end %>
