<% if @pending_transfer_requests_to.present? %>
    <div class="bs-callout bs-callout-primary" id="callout-badges-ie8-empty">
      <h4><%= t('helpers.header_tags.transfer_requests_pending')%> </h4>
      <p>
        <% @pending_transfer_requests_to.each do |transfer_request| %>
        <div class="transfer-request-item">
          <div class="transfer-details">
            <div class="to">
              <%= t('views.urls.index.transfer_requests.from_html', user: transfer_request.from_user.user_full_name) %>
            </div>
            <% transfer_request.urls.each do |url| %>
              <div class="keyword">
                  <%= t('views.urls.index.transfer_requests.keyword_html', keyword: url.keyword) %>
              </div>
              <div class="url">
                  <%= t('views.urls.index.transfer_requests.url_html', url: link_to(url.url, url.url, target: 'blank')) %>
              </div>
            <% end %>
          </div>

          <a href="<%= transfer_request_path(transfer_request) %>" data-method="delete" data-confirm="<%= t('views.urls.index.transfer_requests.reject_confirm') %>" class='btn btn-default btn-xs js-reject-transfer'><%= t('views.urls.index.transfer_requests.reject') %></a>
          <a href="<%= confirm_transfer_request_path(transfer_request) %>" data-method="post" class='btn btn-primary btn-xs js-approve-transfer'><%= t('views.urls.index.transfer_requests.approve') %></a>
        </div>
        <% end %>
      </p>
    </div>
<% end %>
