<%- model_class = Url -%>

<div id="new-url-form" class="z-hero z-hero-dimmer">
  <%= render 'sleek_form', url: @url %>
</div>

<div class="collection_select_spot"></div>
<div class="urls-table-container">
  <div id="pending-transfer-requests-to">
    <%= render 'transfer_requests_to' %>
  </div>

  <div id="pending-transfer-requests-from">
    <%= render 'transfer_requests_from' %>
  </div>

  <table id="urls-table" class="table user-table table-striped table-bordered data-table" data-source="<%= datatable_urls_path(format: :json) %>">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th><%= t('helpers.table_headers.url')  %></th>
        <th><%= t('helpers.table_headers.keyword') %></th>
        <th>Collection</th>
        <th><%= t('helpers.table_headers.clicks') %></th>
        <th><%= t('helpers.table_headers.created') %></th>
        <th><%= t '.actions', :default => t("helpers.actions") %></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>

<%= content_tag :div, class: "route-info", data: {new_transfer_request_path: new_transfer_request_path, new_move_to_group_path: new_move_to_group_path} do %>
<% end %>

<%= content_tag :div, class: "collection-count", data: {collection_count: current_user.groups.length} do %>
<% end %>

<%= content_tag :div, class: "collection-names", data: {collection_names: current_user.groups.pluck(:id, :name)} do %>
<% end %>

<%= render 'modal' %>
