<%- model_class = Url -%>
<!-- <div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div> -->

<div id="pending-transfer-requests-to">
  <%= render 'transfer_requests_to' %>
</div>

<div id="pending-transfer-requests-from">
  <%= render 'transfer_requests_from' %>
</div>

<h2>
  Viewing URLs for the <%= link_to @group.name, group_members_path(@group) %> Collection
  <br/>
  <i>
    <%= @group.description unless @group.id.eql? current_user.default_group_id%>
  </i>
</h2>

<div id="new-url-form">
  <!-- <div class="new-url-form-hint">Shorten a URL</div> -->
  <!-- <h1>Should you plan a meetin to talk over UI changes and GROUPS?</h1> -->
  <%= render 'form', url: @url %>
</div>

<table id="urls-table" class="table user-table table-striped table-bordered data-table" data-source="<%= datatable_urls_path(format: :json) %>">
  <thead>
    <tr>
      <th></th>
      <th><%= t('helpers.table_headers.url')  %></th>
      <th><%= t('helpers.table_headers.keyword') %></th>
      <th><%= t('helpers.table_headers.total_clicks') %></th>
      <th><%= t('helpers.table_headers.created_on') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<%= content_tag :div, class: "route-info", data: {new_transfer_request_path: new_transfer_request_path, new_move_to_group_path: new_move_to_group_path} do %>
<% end %>

<%= content_tag :div, class: "collection-count", data: {collection_count: current_user.groups.length} do %>
<% end %>



<%= render 'modal' %>
