<%- model_class = Url -%>
<!-- <div class="page-header">
  <h4><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h3>
</div> -->

<div id="pending-transfer-requests-to">
  <%= render 'transfer_requests_to' %>
</div>

<div id="pending-transfer-requests-from">
  <%= render 'transfer_requests_from' %>
</div>

<div id="new-url-form">
  <!-- <div class="new-url-form-hint">Shorten a URL</div> -->
  <!-- <h1>Should you plan a meetin to talk over UI changes and GROUPS?</h1> -->
  <%= render 'form', url: @url %>
</div>

<table class="table user-table table-striped table-bordered data-table">
  <thead>
    <tr>
      <th></th>
      <th><%= t('helpers.table_headers.url')  %></th>
      <th><%= t('helpers.table_headers.keyword') %></th>
      <th><%= t('helpers.table_headers.total_clicks') %></th>
      <th><%= t('helpers.table_headers.created_on') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @urls.each do |url| %>
      <%= render 'in_row_show', url: url %>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  <%= render 'datatable.js' %>
  <%= render partial: 'urls/show_js/move.js' %>
  <%= render partial: 'urls/show_js/transfer.js' %>
</script>

<%= render 'modal' %>
