<div class="page-header">
  <h3><%= t('helpers.header_tags.information_about_your_link') %></h3>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('helpers.short_url')%></div>
          <div class="panel-body">
            <a target='_blank' href="<%= full_url(@url) %>"><%= full_url(@url) %></a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('helpers.long_url')%></div>
          <div class="panel-body">
            <a target='_blank' href="<%= @url.url %>"><%= @url.url %></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 stats-actions">
        <button class="btn btn-primary js-transfer-urls ">
          Transfer to a different user
        </button>
        <button class="btn btn-primary js-move-urls ">
          Move to a different collection
        </button>
      </div>
    </div>
    <h3><%= t('helpers.header_tags.traffic_statistics')%></h3>
    <div class="row">
      <div class="col-md-12">
        <ul id='show-tabs' class="col-md-12 nav nav-tabs" role='tablist'>
          <li role="presentation" class="active"><a href="#chart-div-hrs24" data-load='hrs24' data-toggle='tab' role='tab'><%= t('helpers.last_24_hours')%></a></li>
          <li role="presentation"><a href="#chart-div-days7" data-load='days7' data-toggle='tab' role='tab'><%= t('helpers.last_7_days')%></a></li>
          <li role="presentation"><a href="#chart-div-days30" data-load='days30' data-toggle='tab' role='tab'><%= t('helpers.last_30_days')%></a></li>
          <li role="presentation"><a href="#chart-div-all" data-load='all' data-toggle='tab' role='tab'><%= t('helpers.all_time')%></a></li>
        </ul>
        <div class="col-md-12 tab-content">
          <div role="tabpanel" class='tab-pane fade in active' id="chart-div-hrs24" ></div>
          <div role="tabpanel" class='tab-pane fade' id="chart-div-days7"></div>
          <div role="tabpanel" class='tab-pane fade' id="chart-div-days30"></div>
          <div role="tabpanel" class='tab-pane fade' id="chart-div-all"></div>
        </div>
      </div>
    </div>
    <h3><%= t('helpers.header_tags.traffic_location')%></h3>
    <div class="row">
      <div id="regions-div" class="col-md-12">
      </div>
    </div>
    <div class="row">
      <div id="regions-pie-div" class="col-md-12">
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('helpers.qr_code') %></div>
          <div class="panel-body text-center">
            <div class="row">
              <div class="col-md-12">
                <%= @barcode_svg.to_svg.html_safe %>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                  <a class='btn btn-default js-qrcode-download' href="<%= url_download_qrcode_path(@url.keyword) %>">Download PNG Image</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('helpers.download_click_data') %></div>
          <div class="panel-body text-center">
            <div class="row">
              <div class="col-md-12">
                <a class='btn btn-default js-csv-download' href="<%= url_csv_click_data_path(@url, format: :csv) %>">CSV file format</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading"><%= t('helpers.historical_click_count') %>  </div>
          <div class="panel-body">
           <%= t('helpers.short_url_created_on')%> <%= @url.created_at.to_s(:created_on_formatted) %> (<%= time_ago_in_words(@url.created_at) %> ago)
          </div>
          <table class="table table-hover">
            <tbody>
              <tr>
                <td><%= t('helpers.last_24_hours')%></td>
                <td><%= pluralize(@clicks[:hrs24].values.sum, 'hit') %></td>
                <td><%= (@clicks[:hrs24].values.sum / 24.00).round(2) %> <%= t('helpers.per_hour') %></td>
              </tr>

              <tr>
                <td><%= t('helpers.last_7_days')%></td>
                <td><%= pluralize(@clicks[:days7].values.sum, 'hit') %></td>
                <td><%= (@clicks[:days7].values.sum / 7.00).round(2) %> <%= t('helpers.per_day') %></td>
              </tr>

              <tr>
                <td><%= t('helpers.last_30_days')%></td>
                <td><%= pluralize(@clicks[:days30].values.sum, 'hit') %></td>
                <td><%= (@clicks[:days30].values.sum / 30.0).round(2) %> <%= t('helpers.per_day') %></td>
              </tr>

              <tr>
                <td><%= t('helpers.all_time')%></td>
                <td><%= pluralize(@url.total_clicks, 'hit') %></td>
                <td><%= (@url.total_clicks / ((Time.now.to_ms - @url.created_at.to_ms) / 1000 / 60 / 60 / 24.0)).round(2) %> <%= t('helpers.per_day') %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading"><%= t('helpers.best_day')%></div>
          <div class="panel-body">
            <%= best_day_formatter(@best_day) %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">

</div>

<%= render 'modal' %>

<script type="text/javascript">
  // Load the data functions for the Google Charts
  <%= render partial: 'urls/show_js/hrs24.js' %>
  <%= render partial: 'urls/show_js/days7.js' %>
  <%= render partial: 'urls/show_js/days30.js' %>
  <%= render partial: 'urls/show_js/alltime.js' %>
  <%= render partial: 'urls/show_js/country_map.js' %>
  <%= render partial: 'urls/show_js/country_pie.js' %>
  <%= render partial: 'urls/show_js/move.js' %>
  <%= render partial: 'urls/show_js/transfer.js' %>
</script>
