<tr id="search">
  <td colspan=5 class="info">
    <%= form_tag(group_members_path, :remote => true, :method => 'post', id: 'search-form') do %>
        <i><%= t '.title', :default => t('helpers.links.add_someone') %> </i>
        <%= text_field_tag 'people_search', nil, :placeholder => t('helpers.placeholders.search_by_last_name_or_email')  %>
        <%= hidden_field_tag 'uid' %>
        <%= submit_tag t('search-users', :default => t('helpers.links.search_users')), :class => 'btn btn-primary btn-xs add-new-group-member', :data => { confirm: t('helpers.links.confirm_delete', default: t('helpers.links.confirm_delete', default: t('helpers.links.confirm_default'))) } %>
    <% end %>
  </td>
</tr>
