<tr id="search">
  <td colspan=5 class="info">
    <%= form_tag(group_members_path, :remote => true, :method => "post", id: "search-form") do %>
        <i><%= t '.title', :default => t("helpers.links.add-someone") %> </i>
        <div class="form-group">
          <%= text_field_tag "people_search", nil, :placeholder => "Search by Last Name or Email", class: 'form-control'  %>
        </div>
        <%= hidden_field_tag "umndid" %>
        <%= submit_tag t('search-users', :default => t("helpers.links.search-users")), :class => 'btn btn-primary btn-xs add-new-group-member', :data => { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) } %>
    <% end %>
  </td>
</tr>
