<div class="z-hero z-hero-dimmer">
  <div class="z-hero-content">
    <div class="page-header">
      <h1>"<%= @group.name %>" <%= t('views.group_members.index.title') %></h1>
    </div>
  </div>
</div>

<script type="text/javascript">

    $(function () {
        var peopleSearch = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "<%= request.base_url %>/shortener/groups/<%= @group.id %>/members/new/%QUERY",
                wildcard: '%QUERY'
            }
        });

        $('#people_search').typeahead({minLength: 2}, {
            name: 'people_search',
            display: 'value',
            limit: 1000,
            source: peopleSearch
        })
        .on('typeahead:asyncrequest', function() {
          $('.glyphicon-refresh').removeClass("hidden");
        })
        .on('typeahead:asynccancel typeahead:asyncreceive', function() {
          $('.glyphicon-refresh').addClass("hidden");
        });;

        $('#people_search').bind('typeahead:selected', function (obj, datum, name) {
            $("#uid").val(datum.umndid);
        });

    });
</script>

<div id="new-member-form">
  <%= render 'form' %>
</div>

<table id="members-table" class="table user-table table-striped table-bordered data-table">
  <thead>
  <tr>
    <th><%= t('views.group_members.table.member_name')%></th>
    <th><%= t('views.group_members.table.email')%></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
      <%= render 'in_row_show', member: member, group: @group %>
  <% end %>
  </tbody>
</table>

<%= link_to groups_path do %>
  <i class="fa fa-arrow-circle-left"></i>
  <%= t('.groups', :default => t('views.group_members.back_to_collections')) %>
<% end %>
