<div class="page-header">
  <h1><i> "<%= @group.name %>" </i> <%= t '.title', :default => t('helpers.titles.members') %> </h1>
</div>

<script type="text/javascript">

    $(function () {
        var peopleSearch = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('value'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: "<%= request.base_url %>/shortener/groups/<%= @group.id %>/members/new/%QUERY",
                wildcard: '%QUERY'
            }
        });

        $('#people_search').typeahead({minLength: 2}, {
            name: 'people_search',
            display: 'value',
            limit: 1000,
            source: peopleSearch
        })
        .on('typeahead:asyncrequest', function() {
          $('.glyphicon-refresh').removeClass("hidden");
        })
        .on('typeahead:asynccancel typeahead:asyncreceive', function() {
          $('.glyphicon-refresh').addClass("hidden");
        });;

        $('#people_search').bind('typeahead:selected', function (obj, datum, name) {
            $("#umndid").val(datum.umndid);
        });

    });
</script>

<div id="new-member-form">
  <%= render 'form' %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('helpers.table_headers.member_name')%></th>
    <th><%= t('helpers.table_headers.email')%></th>
    <th><%= t '.actions', :default => t('helpers.actions') %></th>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
      <%= render 'in_row_show', member: member, group: @group %>
  <% end %>
  </tbody>
</table>

<%= link_to t('.groups', :default => t('helpers.links.back_to_collections')),
            groups_path,
            :class => 'btn btn-primary btn-xs group' %>
