<tr id='group-<%= group.id %>'>
  <td>
    <div class="group-name"><%= group.name %></div>
    <div class="group-description"><%= group.description %></div>
  </td>
  <td><%= group.users.count %></td>
  <td><%= group.urls.count %></td>
  <td><%= group.created_at.to_s(:created_on_formatted)  %></td>
  <td>
  <%= render 'groups/in_row_actions', group: group  %>
    
  </td>
</tr>
