<tr id="group-<%= group_identifier %>">
  <td colspan=4>
    <%= form_for group, :html => { class: "form-inline group", remote: true } do |f| %>
        <%= hidden_field_tag :new_identifier, group_identifier %>
        <%= f.text_field :name, class: 'form-control', placeholder: "name" %>
        <%= f.text_field :description, class: 'form-control',  placeholder: "description" %>
        <%= f.submit nil, class: 'btn btn-primary js-group-submit' %>
    <% end %>

    <% if group.new_record? %>
        <a href="#" class='btn btn-default cancel-new-group'>Cancel</a>
    <% else %>
        <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                    group_path(group),
                    class: 'btn btn-default cancel-group', remote: true %>
    <% end %>

    <%= render 'groups/in_row_errors', group: group %>
  </td>
</tr>

