<tr id="group-<%= group_identifier %>" class="table-row-no-padding table-row-edit-main">
  <td colspan=5>
    <div class="center-inline">

    <% is_edit = (defined?(edit) && edit == true) ? true : false %>
    <div class="z-hero-content">
      <div class="container">
        <h3 class="z-hero-title">
          <%= is_edit ? t('views.groups.form.edit.title') : t('views.groups.form.new.title') %>
        </h3>

        <%= form_for_group_admin @admin_view, group do |f| %>

          <%= hidden_field_tag :new_identifier, group_identifier %>
          <div class="super-input">
              <%= f.text_field :name, class: 'js-new-group-name', placeholder: t('views.groups.form.placeholders.name') %>

            <div class="super-input-right">
              <div class="description-wrapper">
                <%= f.text_field :description, class: 'js-new-group-description', placeholder: t('views.groups.form.placeholders.description') %>
              </div>

              <button type="submit" class="js-group-submit">
                <%= is_edit ? t('views.groups.form.edit.submit') : t('views.groups.form.new.submit')  %>
              </button>
             </div>
           </div>

            <a href="#" class='btn btn-default cancel-edit'><%= t('views.groups.form.edit.cancel')%></a>
        <% end %>
        <%= render 'groups/in_row_errors', group: group %>
      </div>
    </div>
    </div>

  </td>
</tr>
