<%- model_class = Group -%>
<div class="z-hero z-hero-dimmer">
  <div class="z-hero-content">
    <div class="page-header">
      <h1><%= t('views.collections.index.title') %></h1>
    </div>
  </div>
</div>

<div class="groups-table-wrapper">

  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('views.collections.index.table.name') %></th>
      <th><%= t('views.collections.index.table.description') %></th>
      <th><%= t('views.collections.index.table.created') %></th>
      <th><%= t '.actions', :default => t('views.collections.index.table.actions') %></th>
    </tr>
    </thead>
    <tbody>
    <% if @groups.blank? %>
        <tr id="new-group-tip">
          <td colspan=4 class="info">
            <i><%= t('views.collections.index.table.empty') %></i>
          </td>
        </tr>
    <% end %>
    <% @groups.each do |group| %>
        <%= render 'in_row_show', group: group %>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to  new_group_path,
             class: 'btn btn-primary btn-xs add-new-group', remote: true  do %>
              <i class="fa fa-plus-circle"></i>
              <%= t('.new', default: t("views.collections.index.new_button")) %>
            <% end %>
