<div class="z-hero z-hero-large">
  <div class="z-hero-content">
    <h1 class="z-hero-title z-hero-title-large">
      What will you Z?
    </h1>
    <% unless signed_in? %>
        <a class="btn btn-primary z-hero-button " href="<%= signin_path %>">
          Sign In to Z
        </a>
    <% end %>
  </div>
</div>

<div class="home-page-content-wrapper">
  <h2><%= t('helpers.hello') %></h2>

  <p>Welcome to z.umn.edu, a URL shortening service provided
    by <%= link_to 'LATIS', 'http://latis.umn.edu/', target: '_blank' %>.</p>

  <p>z.umn.edu is available to everyone with a University of Minnesota Internet ID. To get started,
    just <%= link_to 'sign in', signin_path %>.</p>

  <p>For questions about z.umn.edu, visit the <%= link_to 'frequently asked questions', faq_path %> or
    contact <%= mail_to 'help@umn.edu', 'UMN Technology Help' %>.</p>
</div>
