<h2><%= t('helpers.hello') %></h2>
<p>Welcome to z.umn.edu, a URL shortening service provided by <%= link_to 'LATIS', 'http://latis.umn.edu/', target: '_blank' %>.</p>
<p>z.umn.edu is available to anybody with a University of Minnesota X500 account. To get started, just <%= link_to 'log in', signin_path  %>.</p>
<p>For questions about z.umn.edu, visit the <%= link_to 'frequently asked questions', faq_path %> or contact <%= mail_to 'help@umn.edu', 'UMN Technology Help' %>.</p>



