<div class="z-hero z-hero-large">
  <div class="z-hero-content">
    <h1 class="z-hero-title z-hero-title-large" data-cy="hero-title">
      <%= t('views.root.hero_text') %>
    </h1>
    <% unless signed_in? %>
      <a class="btn btn-primary z-hero-button " href="<%= signin_path %>">
        <%= t('views.root.hero_button') %>
      </a>
    <% end %>
  </div>
</div>
<div class="tw-max-w-[90em] tw-mx-auto tw-px-4">
  <div class="umn-post-it">
    <div class="tw-grid md:tw-grid-cols-2 tw-gap-6 tw-grid-cols-1">
      <div>
        <iframe class="tw-w-full tw-border" width="560" height="315" src="https://www.youtube-nocookie.com/embed/1mvUh2wNCA8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      <div>
        <h2 class="tw-text-4xl tw-font-semibold">z.umn.edu</h2>
        <div>
          <p class="tw-text-xl tw-text-umn-neutral-700">
            Z is a URL shortening service provided
            by <%= link_to 'LATIS', 'http://latis.umn.edu/', target: '_blank' %> and to everyone with a University of Minnesota Internet ID.</p>
          <a href="<%= signin_path %>" class="umn-btn--primary">Sign In 
          </a>
        </div>
      </div>
    </div>
  </div>
