<div class="z-hero z-hero-dimmer">
  <div class="z-hero-content">
    <div class="page-header">
      <h1><%= t('views.announcements.index.title') %></h1>
    </div>
  </div>
</div>
<p id="notice"><%= notice %></p>
<div class="groups-table-wrapper">
  <table class="table table-striped">
    <thead>
    <tr>
      <th><%= t('views.announcements.form.body_label') %></th>
      <th><%= t('views.announcements.form.start_on_label') %></th>
      <th><%= t('views.announcements.form.stop_on_label') %></th>
      <th colspan="2"></th>
    </tr>
    </thead>
    <tbody>
    <% @admin_announcements.each do |admin_announcement| %>
        <tr>
          <td><%= admin_announcement.body %></td>
          <td><%= admin_announcement.start_delivering_at %></td>
          <td><%= admin_announcement.stop_delivering_at %></td>
          <td><%= link_to t('views.announcements.index.actions.edit'), edit_admin_announcement_path(admin_announcement) %></td>
          <td><%= link_to t('views.announcements.index.actions.destroy'), admin_announcement, method: :delete, data: {confirm: t('views.announcements.index.table.actions.destroy_confirm_html', message: admin_announcement.body)} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to new_admin_announcement_path,
            class: 'btn btn-primary btn-xs add-new-group' do %>
            <i class="fa fa-plus-circle"></i>
            <%= t('views.announcements.index.new_button') %>
<% end %>
<br>
