<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @admin_announcement.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @admin_announcement.body %>
</p>

<p>
  <strong>Start delivering at:</strong>
  <%= @admin_announcement.start_delivering_at %>
</p>

<p>
  <strong>Stop delivering at:</strong>
  <%= @admin_announcement.stop_delivering_at %>
</p>

<%= link_to 'Edit', edit_admin_announcement_path(@admin_announcement) %> |
<%= link_to 'Back', admin_announcements_path %>
