<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel"><%= t('helpers.header_tags.new_transfer')%></h4>
    </div>
    <%= form_for_transfer_admin @admin_view, @transfer_request do |f| %>
      <div class="modal-body">
        <div class="error-space"><%= @transfer_request.errors.full_messages.join('. ') %></div>

        <h5><%= t('helpers.header_tags.internet_id_to_transfer_to')%></h5>
        <%= f.text_field :to_group, class: 'form-control js-new-transfer-to-group', value: @to_group %>

        <h5><%= t('helpers.header_tags.urls_you_want_to_transfer')%></h5>
        <%= render 'transfer_requests/transfer_urls' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('helpers.buttons.close')%></button>
        <input type="submit" class="btn btn-primary" value=<%=t('helpers.buttons.send_urls')%> data-confirm=<%= t('helpers.links.confirm_url_transfer')%>>
      </div>
    <% end %>
  </div>
</div>
