<header class="page-header">
  <h1>Frequently Asked Questions</h1>
</header>
<div class="tw-p-4">
  <div class="umn-post-it">
    <div class="panel-group" id="accordion">
      <% @faqs.each_with_index do |faq, index| %>
        <div class="panel panel-default">
          <div class="panel-heading tw-p-4">
            <h4 class="panel-title">
              <a id="q<%= index %>" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse<%= index %>">
                <%= faq.question.html_safe %>
              </a>
            </h4>
          </div>
          <div id="collapse<%= index %>" class="panel-collapse collapse">
            <div class="panel-body">
              <%= faq.answer.html_safe %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
