<nav class="navbar navbar-default" role="navigation">
   <div class="container-fluid">
     <div class="navbar-header">
       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
     </div>
     <div class="navbar-collapse collapse">
       <ul class="nav navbar-nav navbar-left">
         <li>
           <a href="<%= root_path %>"><%= t('helpers.links.home') %> </a>
         </li>
         <% if signed_in? and current_user.admin? %>
         <li>
           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('helpers.links.admin')%> <span class="caret"></span></a>
           <ul class="dropdown-menu">
             <li><a href="<%= admin_urls_path %>"><%=t('helpers.links.search_by_url')%> </a></li>
             <li><a href="<%= admin_members_path %>"><%=t('helpers.links.manage_admins')%></a></li>

           </ul>
         </li>
         <% end %>
         <% if signed_in? %>
         <li><%= link_to t('helpers.links.urls'), urls_path %></li>
         <li><%= link_to t('helpers.links.groups'), groups_path %></li>
         <% end %>
       </ul>
       <div id="nav_context_switcher">
         <%= render 'layouts/nav/context_switcher' %>
       </div>
       <ul class="nav navbar-nav sign-in-out">
         <li>
         <% if signed_in? %>
           <%= link_to t('helpers.links.sign_out'), signout_path %>
         <% else %>
           <%= link_to t('helpers.links.sign_in'), signin_path %>
         <% end %>
         </li>
       </ul>
     </div>
   </div>
 </nav>
