<nav class="app-nav navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button 
        type="button" 
        class="navbar-toggle collapsed"
        data-toggle="collapse" 
        data-target="#app-menu"
        aria-expanded="false"
      >
        <i class="fa fa-bars"></i>
        Menu
      </button>
      <a class="navbar-brand" href="/">
        <span class="app-nav__name">Z</span>
        <span class="app-nav__description">Shorter Links</span>
      </a>
    </div>

    <div class="collapse navbar-collapse" id="app-menu">
      <ul class="nav navbar-nav navbar-right">

      <% if signed_in? %>
        <li class="<%= current_page?(urls_path) ? "selected" : "" %>">
          <%= link_to(urls_path) do  %>
              <%= t('views.application.nav.links') %>
          <% end %>
        </li>

        <li class="<%= current_page?(groups_path) || params[:controller] == 'group_memberships' ? "selected" : "" %>">
          <%= link_to(groups_path) do  %>
            <%= t('views.application.nav.collections') %>
          <% end %>
        </li>

          <%if current_user.admin? %>

          <li>
            <a 
              href="#" 
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true" 
              aria-expanded="false"
            >
              <%= t('views.application.nav.admin_menu')%>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="<%= admin_urls_path %>">
                  <%= t('views.application.nav.admin.all_urls') %>
                </a>
              </li>
              <li>
                <a href="<%= admin_groups_path %>">
                  <%= t('views.application.nav.admin.all_collections') %>
                </a>
              </li>
              <li>
                <a href="<%= admin_members_path %>">
                  <%= t('views.application.nav.admin.admins') %>
                </a>
              </li>
              <li>
                <a href="<%= admin_audits_path %>">
                  <%= t('views.application.nav.admin.audit_log') %>
                </a>
              </li>
              <li>
                <a href="<%= admin_announcements_path %>">
                  Announcements
                </a>
              </li>
            </ul><!-- .dropdown-menu -->
          </li>
        <%end # end admin menu item %>
          
          <li>
              <a 
                href="#"
                class="dropdown-toggle"
                data-toggle="dropdown"
                role="button" aria-haspopup="true"
                aria-expanded="false"
              >
                <%= t('views.application.nav.help') %>
                <span class="caret"></span>
              </a>

              <ul class="dropdown-menu">
                <li class="<%= current_page?(api_keys_path) ? "selected" : "" %>">
                  <%= link_to(api_keys_path) do  %>
                    <i class="fa fa-key" aria-hidden="true"></i>
                    <%= t('views.application.nav.api') %>
                  <% end %>
                </li>
                <li>
                  <a href="https://it.umn.edu/z-links-create-manage-z-links">
                    <%= t('views.application.nav.tips') %>
                  </a>
                </li>
                <li>
                  <a href="<%= pages_path(page: :whats_new) %>">
                  <%= t('views.application.nav.whatsnew') %></a>
                </li>
                <li>
                  <a href="<%= faq_path %>">
                    <%= t('views.application.nav.faq') %>
                  </a>
                </li>
                <li>
                  <a href='mailto:help@umn.edu'>
                    <%= t('views.application.nav.contact_us') %>
                  </a>
                </li>
              </ul><!-- .dropdown-menu -->
            </li>
            <li>
              <a class="btn btn-primary" href="<%= signout_path %>">
                  <%= t('views.application.nav.sign_out') %>
              </a>
            </li>
        <% else %>
          <li>
            <a class="btn btn-primary" href="<%= signin_path %>">
              <%= t('views.application.nav.sign_in') %>
            </a>
          </li>
        <% end %>
      </ul>
      </div><!-- .navbar-collapse -->
  </div><!-- .container-fluid -->
</nav><!-- .navbar -->
