   <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="<%= root_path %>" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                </li>
        <% if signed_in? and current_user.admin? %>
    			<ul class="nav navbar-nav">
    	      <li class="dropdown">
    	        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            </li>
          </ul>
    	   <% end %>
         <% if signed_in? %>
         <ul class='nav navbar-nav'>
           <li><%= link_to 'URLs', urls_path %></li>
           <li><%= link_to 'Groups', groups_path %></li>
         </ul>
         <% end %>
    		  <ul class="nav navbar-nav sign-in-out">
            <li>
            <% if signed_in? %>
              <%= link_to 'Sign Out', signout_path %>
            <% else %>
              <%= link_to "Sign In", signin_path %>
            <% end %>
            </li>
    		  </ul>
        </div>
      </div>
    </div>
