<header class="cla-header " role="banner">
  <div class="row main-swooshes container">
    <nav class="navbar navbar-default" role="navigation">
       <div class="container-fluid">

           <ul class="nav navbar-nav navbar-left">
             <% if signed_in? %>

               <li class="<%= current_page?(urls_path) ? "selected" : "" %>">
                 <%= link_to (urls_path) do  %>
                   <span>
                     <i class="fa fa-link" aria-hidden="true"></i>
                     <span > <%= t('application.nav.links') %> </span>
                   </span>
                 <% end %>
               </li>
               <li class="<%= current_page?(groups_path) ? "selected" : "" %>">
                 <%= link_to (groups_path) do  %>
                   <span>
                     <i class="fa fa-users" aria-hidden="true"></i>
                     <span><%= t('application.nav.collections') %></span>
                   </span>
                 <% end %>
               </li>

               <%if current_user.admin? %>

               <li>
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('application.nav.admin_menu')%> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="<%= admin_urls_path %>"><%= t('application.nav.admin.all_urls') %></a></li>
                    <li><a href="<%= admin_groups_path %>"><%= t('application.nav.admin.all_collections') %></a></li>
                    <li><a href="<%= admin_members_path %>"><%= t('application.nav.admin.admins') %></a></li>
                    <li><a href="<%= admin_audits_path %>"><%= t('application.nav.admin.audit_log') %></a></li>
                  </ul>
                </li>

               <%end%>
                 <li>
                   <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= t('application.nav.help') %>
                     <span class="caret"></span></a>
                   <ul class="dropdown-menu">
                     <li><a href="<%= faq_path %>"><%= t('application.nav.faq') %></a></li>
                     <li><a href='mailto:help@umn.edu'><%= t('application.nav.contact_us') %></a></li>
                   </ul>
                 </li>
               <li>
                 <%= link_to (signout_path) do %>
                   <span>
                     <i class="fa fa-sign-in " aria-hidden="true"></i>
                     <span > <%= t('application.nav.sign_out') %> </span>
                   </span>
                 <% end %>
               </li>
             <% else %>
                <li>
                 <%= link_to (signin_path) do %>
                   <span>
                     <i class="fa fa-sign-out" aria-hidden="true"></i>
                     <span > <%= t('application.nav.sign_in') %></span>
                   </span>
                 <% end %>
               </li>
             <% end %>
           </ul>
           <div id="nav_context_switcher">
             <%#= render 'layouts/nav/context_switcher' %>
           </div>
       </div>
     </nav>
     <div class="panel-pane pane-cla-glue-logo-pane left">
       <a href="/">
         <img class="logo" src="<%= asset_path('college_of_liberal_arts.png') %>" alt="College of Liberal Arts">
         <div class="logo-text"></div>
       </a>
     </div>
  </div>
</header>
