<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Z</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :head %>
    <%= favicon_link_tag '/favicon.ico' %>
    <%= render 'layouts/shim' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
    <meta name="viewport" content="initial-scale=0.8, maximum-scale=0.8">
    <meta name="turbolinks-cache-control" content="no-cache">
    <%= vite_client_tag %>
    <%= vite_typescript_tag 'application' %>
  </head>
  <body class='<%= params[:controller] %> <%= params[:action] %> tw-flex tw-flex-col tw-min-h-screen'>
    <noscript>
      <div class="tw-flex tw-flex-col tw-items-center tw-justify-center tw-h-screen tw-text-2xl tw-font-bold tw-text-umn-neutral-900">
        <p class="tw-mb-4">This site requires JavaScript to function properly.</p>
        <p class="tw-mb-4">Please enable JavaScript in your browser and reload the page.</p>
        <p class="tw-mb-4">If you are using a browser plugin that blocks JavaScript, please add this site to your allowlist.</p>
      </div>
    </noscript>
    <div data-behavior="vue">
      <app-header :current-user="<%= current_user&.to_json || 'null' %>">
      </app-header>
    </div>
    <main class="main-container tw-flex-1 tw-bg-umn-neutral-50 hidden" id="main-content">
      <%= flash_messages %>
      <%= yield %>
    </main>
    <div data-behavior="vue">
      <app-footer></app-footer>
    </div>
  </body>
</html>
