<!DOCTYPE html>
<html lang="en">
<head>
  <title>Z</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
 <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= yield :head %>
  <%= favicon_link_tag 'https://langtest.umn.edu/static/images/favicon.ico' %>
  <%= render 'layouts/shim' %>
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Molengo">
  <meta name="viewport" content="initial-scale=0.8, maximum-scale=0.8">
  <meta name="turbolinks-cache-control" content="no-cache">
  <!--  Change stylesheet link depending on which search option you are using:
    Dropdown: umnhf-dd.css (minified version at umnhf-dd.min.css)
    Two-tier: umnhf-tt.css (minified version at umnhf-tt.min.css) -->
  <script src="https://a.umn.edu/templates/web/responsive/current/js/umnhf.js"></script>
</head>

<body class='<%= params[:controller] %> <%= params[:action] %>' >
<div data-behavior="vue">
  <umn-header></umn-header>
</div>
<%= render 'layouts/navigation_top' %>
<div class="container-wrapper">
  <div class="container">

    <%= flash_messages %>
    <%= yield %>
  </div>
</div>
<%= render 'layouts/latis_footer' %>
<%= render 'layouts/static_footer' %>
</body>
</html>
